body {
    box-sizing: content-box;
    background-image: url("FAT/PVZ wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 0px;
    padding: 0;
    position: sticky;
    top: 0px;
}

h5 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 8px;
    padding: 0;
    top: 90px;
    position: sticky;
}

#mommy {
    /*height: calc(97% - 170px);*/
    display: flex;
    justify-content: space-around;
    width: 97%;
    margin: 0px auto;
    flex-wrap: wrap;
    overflow-y: auto;
}

#mommy>div {
    aspect-ratio: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px solid rgb(20, 20, 20);
    border-radius: 10%;
    min-width: 29.5%;
    width: 400px;
    max-width: 100%;
    padding: 0px;
    overflow-y: auto;
}

#mommy > div::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 50px;
}
#mommy > div::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 50px;
}
#mommy >div::-webkit-scrollbar-track {
    background: transparent;
}

#mommy> div::-webkit-scrollbar {
    width: 7px;
}
 #mommy > div::-webkit-scrollbar-thumb {
    background-image: radial-gradient(lightgrey,grey)
 }
#mommy .plants {
    background-color: rgb(170, 220, 20);

}   

#mommy .zombies {
    background-color: rgb(170, 20, 220)
}
@font-face {
    font-family: "Static";
    src: url("Fonts/Static.ttf");
}
.plants h2 {
    color: black;
    text-shadow: 0px 0px 3px white;
}

.plants h2, .zombies h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    padding: 0;
    top: 5px;
    position: sticky;
    font-size: 50px;
    font-family: "Static";
}

.zombies h2 {
    color: lightgray;
    text-shadow: 0px 0px 3px black;
}



.stats {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: calc(55% - 30px);
    width: calc(100% - 10px);
    margin: 0px auto;
    position: sticky;
    top: 55px;
}

 .stats .imgC {
    background-color: rgb(200, 220, 20);
    border: 5px solid rgb(20, 20, 20);
    overflow-y: hidden;
}

.plants .imgC {
    background-color: rgb(200, 220, 20);
}

.zombies .imgC {
    background-color: rgb(150, 20, 220);
}
.stats .imgC > img {
    width: 100%;
    justify-self: center;
    align-self: center;
}

.plants .stats .tbox {
    border: 5px solid rgb(20, 20, 20);
    border-left: 0px;
    overflow-y: auto;
    background-color: rgb(170, 220, 20);
}
.tbox img {
    max-height: 35px;
    position: relative;
    top:7px;
    margin: 0px;
    padding: 0px;
}
.Sun {
    filter: brightness(90%)	;
}
.tbox .simg {
    top:2px;
    height: 21px;
    width: 21px;
}

.plants .stats .tbox h4 {
    font-weight: 900;
    font-size: 28px;
    margin: 0px;
    padding: 0px;
}
.plants .tbox p {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 4px 0px;
    margin-bottom: 11px

}

@font-face {
    font-family: "Lato";
    src: url("Fonts/Lato-Black.ttf");
}

.plants > p {
    margin: 10px 0px;
    padding: 0px 10px;
    font-size: 20px;
    font-family: "Lato";
}




::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 100px;
}


::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 100px;
}