body {
    box-sizing: content-box;
    background-image: url("PVZ wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 0px;
    padding: 0;
    position: sticky;
    top: 0px;
}

h5 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 8px;
    padding: 0;
    top: 90px;
    position: sticky;
}

#mommy {
    /*height: calc(97% - 170px);*/
    display: flex;
    justify-content: space-around;
    width: 97%;
    margin: 0px auto;
    flex-wrap: wrap;
    overflow-y: auto;
}

#mommy>div {
    aspect-ratio: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px solid rgb(20, 20, 20);
    border-radius: 10%;
    min-width: 29.5%;
    width: 400px;
    max-width: 100%;
    padding: 0px;
    overflow-y: auto;
}

#mommy .plants {
    background-color: rgb(170, 220, 20)
}

#mommy .zombies {
    background-color: rgb(170, 20, 220)
}

.plants h2 {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    padding: 0;
    top: 5px;
    position: sticky;
}

.zombies h2 {
    color: white;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    margin-bottom: 5px;
    padding: 0;
    top: 5px;
    position: sticky;
}



.plants .stats {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: calc(55% - 30px);
    width: calc(100% - 10px);
    margin: 0px auto;
}

.plants .stats .imgC {
    background-color: rgb(200, 220, 20);
    display: flex;
    border: 5px solid rgb(20, 20, 20);
}

.plants .stats img {
    width: 100%;
    justify-self: center;
    align-self: center;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 100px;
}