body {
    box-sizing: content-box;
    background-image: url("FAT/PVZ wallpaper.jpg");
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 0px;
    padding: 0;
    position: sticky;
    top: 0px;
    z-index: 2;
}

h5 {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 8px;
    padding: 0;
    top: 90px;
    position: sticky;
    z-index: 2;

}

#mommy {
    /*height: calc(97% - 170px);*/
    display: flex;
    justify-content: space-around;
    width: 98.2%;
    margin: 0px auto;
    flex-wrap: wrap;
    overflow-y: auto;
}

#mommy>div {
    aspect-ratio: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px solid rgb(20, 20, 20);
    border-radius: 10%;
    min-width: 29.5%;
    width: 400px;
    max-width: 100%;
    padding: 0px;
    overflow-y: auto;
    transition: all 0.35s;
}

#mommy>div:hover {
    transform: scale(1.025);
    box-shadow: 0px 0px 30px black;
    border: 10px solid rgb(235, 235, 235);
}

#mommy>div::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 32px;
}

#mommy>div::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 32px;
}

#mommy div::-webkit-scrollbar-track {
    background: transparent;
}

#mommy>div::-webkit-scrollbar {
    width: 7px;
}

#mommy div::-webkit-scrollbar-thumb {
    background-image: radial-gradient(lightgrey, grey)
}

#mommy .plants {
    background-color: rgb(170, 220, 20);

}

#mommy .zombies {
    background-color: rgb(170, 20, 220)
}

@font-face {
    font-family: "Static";
    src: url("Fonts/Static.ttf");
}

.plants h2 {
    color: black;
    text-shadow: 0px 0px 3px white;
}

.plants h2,
.zombies h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: 15px;
    padding: 0;
    top: 5px;
    position: sticky;
    font-size: 50px;
    font-family: "Static";
}

.zombies h2 {
    color: lightgray;
    text-shadow: 0px 0px 3px black;
}



.stats {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: calc(55% - 30px);
    width: calc(100% - 10px);
    margin: 0px auto;
    position: sticky;
    top: 55px;
    max-height: 50%;
}

.stats .imgC {
    border: 5px solid rgb(20, 20, 20);
    overflow-y: hidden;
}

.plants .imgC {
    background-color: rgb(200, 220, 20);
    overflow: hidden;
}

.zombies .imgC {
    background-color: rgb(150, 20, 220);
    overflow: hidden;
}



.plants .stats .tbox {
    border: 5px solid rgb(20, 20, 20);
    border-left: 0px;
    overflow-y: auto;
    background-color: rgb(170, 220, 20);
}

.zombies .stats .tbox {
    border: 5px solid rgb(20, 20, 20);
    border-left: 0px;
    overflow-y: auto;
    background-color: rgb(170, 20, 220);
}

.tbox img {
    max-height: 35px;
    position: relative;
    top: 7px;
    margin: 0px;
    padding: 0px;
}

.Sun {
    filter: brightness(90%);
}

.tbox .simg {
    top: 2px;
    height: 21px;
    width: 21px;
}

.TFA+.surp {
    display: none;
    transition: all 0.2s;
    visibility: hidden;
}

.TFA:hover+.surp {
    display: inline;
    visibility: visible;
    background-color: white;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 2px 2px 2px black;
}

.tbox h4 {
    font-weight: 900;
    font-size: 28px;
    margin: 0px;
    padding: 0px;
}

.tbox p {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 4px 0px;
    margin-bottom: 11px
}

.zombies .tbox p {
    color: white;
}

.zombies .tbox h4 {
    color: white
}

.stats .imgC>img {
    width: 100%;
    justify-self: flex-start;
    align-self: flex-start;
    filter: none;
}

.S {
    color: red;
    text-shadow: 1px 1px 0px black, 1px -1px 0px black, -1px 1px 0px black, -1px -1px 0px black;
}

.zombies img {
    filter: invert(99%);
}

@font-face {
    font-family: "Lato";
    src: url("Fonts/Lato-Black.ttf");
}

.plants>p,
.zombies>p {
    margin: 10px 0px;
    padding: 0px 10px;
    font-size: 20px;
    font-family: "Lato";
    text-shadow: 0px 0px 3px rgb(245, 245, 245);
}




::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 100px;
}


::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 100px;
}


@media screen and (max-width:1600px) {

    .plants h2,
    .zombies h2 {
        font-size: 35px;
    }

    .plants p,
    .zombies p {
        font-size: 16px;
    }

    .plants h4,
    .zombies h4 {
        font-size: 20px;
    }

    .plants .stats,
    .zombies .stats {
        top: 45px
    }

    #mommy>div {
        max-width: 43%;
    }
}

@media screen and (max-width: 700px) {

    h1 {
        font-size: 65px;
    }

    h5 {
        top: 80px;
        font-size: 25px;
    }

    #mommy>div {
        width: 700px;
        max-width: 95%;
    }
}

a {
    transition: all 0.3s;
}

a:link {
    color: rgb(240, 240, 255);
}


a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.1);
    text-shadow: 3px 3px 0px black;
}

#mineIMG {
    transition: all 0.3s;
}

#mineIMG:hover {
    content: url("FAT/explosion\'.gif");
}